@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Comme", sans-serif;

}
.navSection{
    
    height:80px;
    background-color: #F46036;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 20px;
    font-size: large;
}
.navSection span{
    cursor: pointer;
}
.sidebar{
    
    width: 100%;
    max-width:15%;
    height: 100vh;
    color: white;
    list-style: none;
    padding-top: 10px;
    background-color: #2E294E;
}
.sidebar ul li{
    list-style: none;
    margin-bottom: 20px;
    font-weight: 500; 
    font-size: medium;
    cursor: pointer;


}
.collectionsSection{
    display: flex;
}
    
.loginSection{
    
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    align-items: center;
}
.registerSection{
    
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    align-items: center;
}
.authForm{
    width: 100%;
    max-width: 50%;
    margin-top :-230px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid grey;
    border-radius:10px ;
}
.authForm input{
    width: 100%;
    max-width: 55%;
    height: 1.4rem;
}
.authForm label{
    width: 100%;
    max-width: 55%;
    font-weight: 400;
}
.firmSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.tableForm{
    width: 100%;
    max-width: 50%;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}
.tableForm input {
    width: 100%;
    max-width: 55%;
    height: 35px;
    max-width: 85%;
    margin-bottom: 10px;
}

.tableForm label {
    width: 100%;
    max-width: 85%;
    font-weight: 600;
}

.checkInp {
    width: 100%;
    max-width: 85%;
    display: flex;
}

.checkInp label {
    width: 20%;
}

.inputsContainer {
    width: 100%;
    display: flex;
}

.checboxContainer {
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checboxContainer label {
    width: 100%;
}

.checboxContainer input {
    margin-left: -180px;
}

.checboxContainer label {
    font-size: small;
}
.regBoxContainer label {
    font-size: small;
}
.products-list{
    display: flex;
    width: 100%;
    max-width: 80vw;
    border-collapse: collapse;
    flex-direction: column;
    gap: 20px;
    padding-left: 10rem;
    padding-top: 5rem;
    align-items: center;
    justify-content: flex-start;

}
.products {
    display: flex;
    align-items: center; 
    width: 100%; 
    background: white;
    border-radius: 8px;
    padding: 8px;
    gap: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
}
.products img{
    width: 50px;
    height: 50px;
}

.errorSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorSection h1 {
    font-size: 4rem;
}

h3 {
    color: #D7263D;
}
.btnSubmit button{
    background-color: blue;
    color: white;
}